@include phones {

  .slider {
    line-height: 1.2;
  }

  .slider__preview {
    justify-content: space-between;
  }

  .slider__preview-wrap {
    width: 60vw;
  }

  .slider__title {
    line-height: 1.1;
  }

  .slider__desc-text {
    margin: 0 2% 2vh;
    line-height: 1.2;
  }

  .slider__desc-list {
    width: 90vw;
  }

  .desc__order-price {
    font-size: 2rem;
  }
}