@include phones {
  .color {
    background-position: 84% center;
  }

  .color__title {
    margin-left: 4%;
}

.color-menu__title {
  width: 60px;
}

.color-menu__container {
  padding: 10px 5px 10px 5px;
  line-height: 1.1;
}

}